html {
  scroll-behavior: smooth;
}
body {
  cursor: url("/icons8-cursor-24.png"), auto !important;
}
a:hover,
button:hover {
  cursor: url("/icons8-hand-cursor-26.png"), auto !important;
}

/* Navigation Styles for Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #ff4c29;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-;
}

@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}
/*تنسيقات إظهار ايقونات الروابط*/
.icon {
  display: inline-block;
  opacity: 0;
  position: relative;
  top: 5px;
}
.label {
  display: inline-block;
  transform: translateX(5px);
}
.nav-item:hover .icon {
  opacity: 1;
  transform: translateX(7px);
  transition: transform 0.3s ease;
}
.nav-item.active .icon {
  opacity: 1;
  transform: translateX(7px);
}
.nav-item:hover .label {
  transform: translateX(-5px);
  transition: 0.3s;
}
.nav-item.active .label {
  transform: translateX(-5px);
  transition: 0.3s;
}
/*تنسيقات ال navigations*/
.swiper-button-prev {
  left: 10px !important;
  width: 40px !important;
  height: 40px !important;
  color: #ff4c29 !important;
}

.swiper-button-next {
  right: 15px !important;
  width: 40px !important;
  height: 40px !important;
  color: #ff4c29 !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: wheat !important;
  background-color: #ff4d298a;
  transform: scale(1.1);
}

@media (min-width: 960px) {
  .swiper-button-prev {
    left: 10px !important;
    width: 60px !important;
    height: 60px !important;
    color: #ff4c29 !important;
  }

  .swiper-button-next {
    right: 28px !important;
    width: 60px !important;
    height: 60px !important;
    color: #ff4c29 !important;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: wheat !important;
    background-color: #ff4d298a;
    transform: scale(1.1);
  }
}
/*انيميشن لعنوان سيارة اليوم*/
.title {
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.08);
  }
}
.active2dGallery {
  color: wheat !important ;
  background-image: linear-gradient(to left, #ff4d29 60%, transparent);
  transition: all 0.3s ease;
}
.active3dGallery {
  color: wheat !important ;
  background-image: linear-gradient(to right, #ff4d29 60%, transparent);
  transition: all 0.3s ease;
}
.showFiltersGallery {
  max-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  margin-top: 0 !important;
  transition: all 0.3s ease-in-out;
}
.showDetailsGaleery {
  opacity: 1 !important;
  transform: translateY(-250%) !important;
  transition: all 0.4s ease;
  visibility: visible !important;
}
.bluringCard {
  filter: blur(3px) brightness(0.8);
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.my-masonry-grid {
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 10px;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  padding-left: 0;
  flex: 1;
}
.spec-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  align-self: center;
  margin-left: 16px;
  position: absolute;
  right: 20%;
  top: 8%;
  font-size: 16px;
  text-decoration: none;
  color: #ff4c29;
  border: 1px solid #ff4c29;
  padding: 8px;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.spec-link:hover {
  background-color: #ff4c29;
  color: white;
}

@media (max-width: 600px) {

  .showDetailsGaleery {
    opacity: 1 !important;
    transform: translateY(-125%) !important;
    transition: all 0.4s ease;
    visibility: visible !important;
  }

  .my-masonry-grid {
    display: flex;
    width: auto;
    column-gap: 5px;
  }
  .my-masonry-grid_column img {
    object-fit: cover;
  }

  .spec-link {
    right: 32%;
    top: 13%;
  }
}
