/* Navigation Styles for Swiper */
.swiper-button-next,
.swiper-button-prev {
  color: #ff4c29;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-;
}

@media (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 55px;
    height: 55px;
    padding: 15px;
  }
}
